# example.env
# 複製並重命名這個檔案為`.env`，然後填寫下面的環境變數。
NODE_ENV=development

MONGODB_USER=user
MONGODB_PASSWORD=password
MONGODB_DATABASE=test
MONGODB_CONNECT_STRING=mongodb+srv://<user>:<password>@domain/<database>

#必填環境變數
#secret可隨意填寫，用作salt
JWT_SECRET = 
#填入過期時間例如七天7d
JWT_DAYS = 

# GOOGLE LOGIN
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# SWAGGER
SWAGGER_HOST = localhost:4000